*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.menu {
    list-style:none;
    background-color: #1f3c88;
    padding: 20px;
}

.menu li{
    position: relative;
    display: inline-block;
}

.menu li:hover ul {
        display: block;
}

.menu ul {
    display: none;
    position: absolute;
    top : 100%;
    left: 0%;
    background-color: #1f3c88;
}

.menu ul li a{

    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu ul li a :hover {
    color: rgb(255, 255, 255);
}

.menu li a {
    text-decoration: none;
    padding: 10px;
   color: aliceblue;
}