body{
    padding: 0;
    margin: 0;

}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.menu {
    list-style:none;
    background-color: #1f3c88;
    padding: 20px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 25px;
    
}

.menu li{
    position: relative;
    display: inline-block;
}

.menu li:hover ul {
        display: block;
}

.menu ul {
    display: none;
    position: absolute;
    top : 100%;
    left: 0%;
    background-color: #1f3c88;
}

.menu ul li a{

    display: block;
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}
.menu ul li a:hover {
    color: rgb(255, 255, 255);
}

.menu li a {
    text-decoration: none;
    padding: 10px;
   color: rgb(255, 255, 255);
}

.info-box{
    margin-top: 70px;
    width: 100%;
}

.formEmpleado {
    width: 100%;
    max-width: 500px;
    margin: 0 5px;
}

.formEmpleado label {
    font:200;
    color: #1f3c88;
}

.formEmpleado input {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formEmpleado button {
    background-color: #1f3c88;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    margin-left: 90px;
    margin-top: 5px;
}

.formEmpleado button:hover {
    background-color: #163172;
}
.info-box h2{
    margin-left: 40%;
    display: inline;
    border-bottom: 5px solid #163172;

}
.formEmpleado fieldset{
    border: 3px solid black;
    padding: 8px;
}
.formEmpleado fieldset legend{
    padding: 0 6px;
    border: 3px solid black;
    border-radius: 5px;
}
.tituloLista{
    margin-top: 3px;
    text-align: center;
    font-size: medium;
    border-top:2px solid black;
}
#tablaEmpleados{
    border: black;
    font-family: sans-serif;
    font-size:small;
}


